In [1]:
import glassdoor_scraper as gs
import pandas as pd

In [4]:
path = "C:/Users/jaypa/Desktop/ML/Projects/DSSalary/chromedriver"
slp_time = 1
df = gs.get_jobs('data scientist', 1000, False, path, slp_time)

Progress: 0/15
Progress: 1/15
Progress: 2/15
Progress: 3/15
Progress: 4/15
Progress: 5/15
Progress: 6/15
Progress: 7/15
Progress: 8/15
Progress: 9/15
Progress: 10/15
Progress: 11/15
Progress: 12/15
Progress: 13/15
Progress: 14/15
Progress: 15/15

In [5]:
df

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Ericsson-Worldwide\n3.9,"Huawei Technologies, IBM, Cisco Systems",1876,"Stockholm, Sweden",Telecommunications Services,"Date: Jun 24, 2020\n\nAs the tech firm that cr...",Data Scientist,Noida,3.9,₹500+ billion (INR),-1,Telecommunications,10000+ employees,Company - Public
1,Visible Alpha\n4.1,"Morgan Stanley, UBS, Credit Suisse",2011,"New York, NY",Financial Analytics & Research,Job Description:\n1. 5+ years of Hands-on Pyth...,Senior Data Scientist (NLP),Mumbai,4.1,Unknown / Non-Applicable,-1,Finance,501 to 1000 employees,Company - Private
2,Buckman\n3.5,-1,1945,"Memphis, TN",Chemical Manufacturing,Job Description – Data Scientist\n\nLocation: ...,Data Scientist,Chennai,3.5,₹50 to ₹100 billion (INR),-1,Manufacturing,1001 to 5000 employees,Company - Private
3,Blue Yonder\n4.3,"SAP, Oracle, Manhattan Associates",1985,"Scottsdale, AZ",Enterprise Software & Network Solutions,What You Should Expect\n\nTo ride the wave of ...,Data Scientist,Bengaluru,4.3,₹100 to ₹500 billion (INR),-1,Information Technology,5001 to 10000 employees,Company - Private
4,PayPal\n3.6,"Square, Amazon, Apple",1998,"San Jose, CA",Internet,Provide analytical insights into emerging prob...,Data Scientist,Bengaluru,3.6,₹500+ billion (INR),-1,Information Technology,10000+ employees,Company - Public
5,GSK\n3.9,"Pfizer, AstraZeneca, Merck",1830,"Brentford, United Kingdom",Biotech & Pharmaceuticals,Site Name: India - Karnataka - Bangalore\nPost...,Data Scientist,Bengaluru,3.9,₹500+ billion (INR),-1,Biotech & Pharmaceuticals,10000+ employees,Company - Public
6,HP Inc.\n4.1,-1,1939,"Palo Alto, CA",Computer Hardware & Software,Applies developed subject matter knowledge to ...,Data Scientist Sales & Channel,Bengaluru,4.1,Unknown / Non-Applicable,-1,Information Technology,10000+ employees,Company - Public
7,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,"At Amazon, we strive to be most customer-centr...",Data Scientist,Hyderabad,4.2,₹500+ billion (INR),-1,Information Technology,10000+ employees,Company - Public
8,PK\n3.6,-1,2004,"Portland, OR",IT Services,1. 8+ years of IT experience and at least 2+ y...,Data Scientist,Hyderabad,3.6,₹10 to ₹50 billion (INR),-1,Information Technology,1001 to 5000 employees,Company - Private
9,h2o.ai\n4.1,-1,2011,"Mountain View, CA",Enterprise Software & Network Solutions,Company Overview\n\nH2O.ai is the open source ...,Customer Data Scientist,Chennai,4.1,Unknown / Non-Applicable,-1,Information Technology,201 to 500 employees,Company - Private
10,Amazon\n4.2,"Google, Microsoft, Walmart",1994,"Seattle, WA",Internet,The Amazon Payments Team manages all Amazon br...,"Data Scientist II, Consumer Payments",Bengaluru,4.2,₹500+ billion (INR),-1,Information Technology,10000+ employees,Company - Public
11,TTEC\n3.4,"Teleperformance, TaskUs, Convergys",1982,"Englewood, CO",Staffing & Outsourcing,"When everything's connected, how we connect is...",Data Scientist,Hyderabad,3.4,₹100 to ₹500 billion (INR),-1,Business Services,10000+ employees,Company - Public
12,HDFC Bank\n3.6,"State Bank of India, ICICI Bank, Axis Bank",1995,"Mumbai, India",Banks & Building Societies,Job Description\nManaging 2 to 3 business line...,Data Scientist,Chennai,3.6,₹500+ billion (INR),-1,Finance,10000+ employees,Company - Public
13,J.P. Morgan\n3.9,-1,1799,"New York, NY",Investment Banking & Asset Management,JPMC is looking at expanding our digital capab...,Data Analyst - Associate,Bengaluru,3.9,₹500+ billion (INR),-1,Finance,10000+ employees,Company - Public
14,IBM\n3.9,"Amazon, Accenture, Microsoft",1911,"Armonk, NY",IT Services,"Introduction\nAs a Data Scientist at IBM, you ...",DATA SCIENTIST,Gurgaon,3.9,₹500+ billion (INR),-1,Information Technology,10000+ employees,Company - Public